.swiper-button-prev {
    left: -2px !important;
    color: #3c3f5f !important;
}

.swiper-button-next {
    right: -2px !important;
    color: #3c3f5f !important;
}

.swiper {
    padding: 25px !important;
}

.swiper-pagination-horizontal {
    bottom: -4px !important;
}